TechSupportWPF/Service References/TechSupportSecure/TechSupportServiceSecure1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportServiceSecure1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITechSupportServiceSecure1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportServiceSecure1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_RegisterNewStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewStaffMember" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_StaffList_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_StaffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerStatus" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeMyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMyStatus" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SendBugreport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBugreport" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerPassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerPassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangePassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorker" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_TechnicianList_InputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_TechnicianList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetAvailableTechnician_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTechnician" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetAvailableTechnician_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTechnicianResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_AddNewSolvedQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewSolvedQuestion" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SolvedQuestionList_InputMessage">
    <wsdl:part name="parameters" element="tns:SolvedQuestionList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SolvedQuestionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolvedQuestionListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetTechWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTechWorks" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetTechWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTechWorksResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_NewTechWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:NewTechWorks" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_NewTechWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewTechWorksResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeTechnicianStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTechnicianStatus" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_RegisterTechWork_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTechWork" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomer" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetLastSevedDaysSolves_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastSevedDaysSolves" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetLastSevedDaysSolves_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastSevedDaysSolvesResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeMyPassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMyPassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeMyPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMyPicture" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_CheckMyPassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckMyPassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_CheckMyPassWD_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckMyPassWDResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetLastMonthRegistratedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMonthRegistratedUsers" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_GetLastMonthRegistratedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMonthRegistratedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SendMessageToTechnician_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToTechnician" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SendMessageToTechnician_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToTechnicianResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_InsertNewTechWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTechWorks" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_InsertNewTechWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTechWorksResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportServiceSecure1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/Login" message="tns:ITechSupportServiceSecure1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LoginResponse" message="tns:ITechSupportServiceSecure1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/RegisterNewStaffMember" message="tns:ITechSupportServiceSecure1_RegisterNewStaffMember_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerList" message="tns:ITechSupportServiceSecure1_LastCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerListResponse" message="tns:ITechSupportServiceSecure1_LastCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/StaffList" message="tns:ITechSupportServiceSecure1_StaffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/StaffListResponse" message="tns:ITechSupportServiceSecure1_StaffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerStatus" message="tns:ITechSupportServiceSecure1_ChangeWorkerStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMyStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyStatus" message="tns:ITechSupportServiceSecure1_ChangeMyStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SendBugreport" message="tns:ITechSupportServiceSecure1_SendBugreport_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerPassWD" message="tns:ITechSupportServiceSecure1_ChangeWorkerPassWD_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangePassWD" message="tns:ITechSupportServiceSecure1_ChangePassWD_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetWorker" message="tns:ITechSupportServiceSecure1_GetWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetWorkerResponse" message="tns:ITechSupportServiceSecure1_GetWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TechnicianList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/TechnicianList" message="tns:ITechSupportServiceSecure1_TechnicianList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/TechnicianListResponse" message="tns:ITechSupportServiceSecure1_TechnicianList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTechnician">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetAvailableTechnician" message="tns:ITechSupportServiceSecure1_GetAvailableTechnician_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetAvailableTechnicianResponse" message="tns:ITechSupportServiceSecure1_GetAvailableTechnician_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewSolvedQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/AddNewSolvedQuestion" message="tns:ITechSupportServiceSecure1_AddNewSolvedQuestion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolvedQuestionList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SolvedQuestionList" message="tns:ITechSupportServiceSecure1_SolvedQuestionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SolvedQuestionListResponse" message="tns:ITechSupportServiceSecure1_SolvedQuestionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTechWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetTechWorks" message="tns:ITechSupportServiceSecure1_GetTechWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetTechWorksResponse" message="tns:ITechSupportServiceSecure1_GetTechWorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewTechWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/NewTechWorks" message="tns:ITechSupportServiceSecure1_NewTechWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/NewTechWorksResponse" message="tns:ITechSupportServiceSecure1_NewTechWorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTechnicianStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeTechnicianStatus" message="tns:ITechSupportServiceSecure1_ChangeTechnicianStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTechWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/RegisterTechWork" message="tns:ITechSupportServiceSecure1_RegisterTechWork_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomer" message="tns:ITechSupportServiceSecure1_LastCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerResponse" message="tns:ITechSupportServiceSecure1_LastCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetCustomer" message="tns:ITechSupportServiceSecure1_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetCustomerResponse" message="tns:ITechSupportServiceSecure1_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastSevedDaysSolves">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetLastSevedDaysSolves" message="tns:ITechSupportServiceSecure1_GetLastSevedDaysSolves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetLastSevedDaysSolvesResponse" message="tns:ITechSupportServiceSecure1_GetLastSevedDaysSolves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMyPassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyPassWD" message="tns:ITechSupportServiceSecure1_ChangeMyPassWD_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMyPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyPicture" message="tns:ITechSupportServiceSecure1_ChangeMyPicture_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckMyPassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/CheckMyPassWD" message="tns:ITechSupportServiceSecure1_CheckMyPassWD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/CheckMyPassWDResponse" message="tns:ITechSupportServiceSecure1_CheckMyPassWD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMonthRegistratedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetLastMonthRegistratedUsers" message="tns:ITechSupportServiceSecure1_GetLastMonthRegistratedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/GetLastMonthRegistratedUsersResponse" message="tns:ITechSupportServiceSecure1_GetLastMonthRegistratedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToTechnician">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SendMessageToTechnician" message="tns:ITechSupportServiceSecure1_SendMessageToTechnician_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SendMessageToTechnicianResponse" message="tns:ITechSupportServiceSecure1_SendMessageToTechnician_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewTechWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/InsertNewTechWorks" message="tns:ITechSupportServiceSecure1_InsertNewTechWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/InsertNewTechWorksResponse" message="tns:ITechSupportServiceSecure1_InsertNewTechWorks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITechSupportServiceSecure1" type="tns:ITechSupportServiceSecure1">
    <wsp:PolicyReference URI="#WSHttpBinding_ITechSupportServiceSecure1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/RegisterNewStaffMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/StaffList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeMyStatus">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/SendBugreport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerPassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangePassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangePassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetWorker">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetWorker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TechnicianList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/TechnicianList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTechnician">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetAvailableTechnician" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewSolvedQuestion">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/AddNewSolvedQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SolvedQuestionList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/SolvedQuestionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechWorks">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetTechWorks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewTechWorks">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/NewTechWorks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTechnicianStatus">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeTechnicianStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterTechWork">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/RegisterTechWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LastCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/LastCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastSevedDaysSolves">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetLastSevedDaysSolves" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMyPassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyPassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeMyPicture">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeMyPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CheckMyPassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/CheckMyPassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMonthRegistratedUsers">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/GetLastMonthRegistratedUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToTechnician">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/SendMessageToTechnician" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewTechWorks">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/InsertNewTechWorks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportServiceSecure1">
    <wsdl:port name="WSHttpBinding_ITechSupportServiceSecure1" binding="tns:WSHttpBinding_ITechSupportServiceSecure1">
      <soap12:address location="https://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>