TechSupportWPF/Service References/TechSupportSecure/TechSupportServiceSecure1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewStaffMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="regData" nillable="true" type="q2:WorkerDataRegistrationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastCustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="LastCustomerListResult" nillable="true" type="q3:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="StaffListResult" nillable="true" type="q4:ArrayOfWorkerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWorkerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="status" type="q5:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="newStatus" type="q6:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBugreport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="file" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWorkerPassWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passnewPassWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="GetWorkerResult" nillable="true" type="q8:WorkerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="TechnicianListResult" nillable="true" type="q9:ArrayOfTechnicianData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTechnician">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTechnicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="GetAvailableTechnicianResult" nillable="true" type="q10:ArrayOfTechnicianData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSolvedQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="solved" nillable="true" type="q11:SolvedQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolvedQuestionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Page" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolvedQuestionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="SolvedQuestionListResult" nillable="true" type="q12:ArrayOfSolvedQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechWorks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="GetTechWorksResult" nillable="true" type="q13:ArrayOfTechWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTechWorks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTechWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="NewTechWorksResult" nillable="true" type="q14:ArrayOfTechWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTechnicianStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="status" type="q15:TechnicianStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTechWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="work" nillable="true" type="q16:TechWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="LastCustomerResult" nillable="true" type="q17:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="GetCustomerResult" nillable="true" type="q18:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSevedDaysSolves">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSevedDaysSolvesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLastSevedDaysSolvesResult" nillable="true" type="q19:ArrayOfint" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dates" nillable="true" type="q20:ArrayOfdateTime" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="byName" nillable="true" type="q21:ArrayOfKeyValuePairOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyPassWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMyPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMyPassWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMyPassWDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMyPassWDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMonthRegistratedUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMonthRegistratedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLastMonthRegistratedUsersResult" nillable="true" type="q22:ArrayOfint" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dates" nillable="true" type="q23:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTechWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="d" nillable="true" type="q24:NewTechWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTechWorksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>