SolvedQuestionInit/Service References/TechSupportService/TechSupportServiceCross.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportServiceCross" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITechSupportServiceCross_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportServiceCross_TechnicianLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_TechnicianLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_HelpDeskWorkerList_InputMessage">
    <wsdl:part name="parameters" element="tns:HelpDeskWorkerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_HelpDeskWorkerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelpDeskWorkerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_CustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_CustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_UploadSolvedQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSolvedQuestion" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceCross_UploadSolvedQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSolvedQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportServiceCross">
    <wsdl:operation name="TechnicianLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceCross/TechnicianLogin" message="tns:ITechSupportServiceCross_TechnicianLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceCross/TechnicianLoginResponse" message="tns:ITechSupportServiceCross_TechnicianLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelpDeskWorkerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceCross/HelpDeskWorkerList" message="tns:ITechSupportServiceCross_HelpDeskWorkerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceCross/HelpDeskWorkerListResponse" message="tns:ITechSupportServiceCross_HelpDeskWorkerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceCross/CustomerList" message="tns:ITechSupportServiceCross_CustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceCross/CustomerListResponse" message="tns:ITechSupportServiceCross_CustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSolvedQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceCross/UploadSolvedQuestion" message="tns:ITechSupportServiceCross_UploadSolvedQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceCross/UploadSolvedQuestionResponse" message="tns:ITechSupportServiceCross_UploadSolvedQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITechSupportServiceCross" type="tns:ITechSupportServiceCross">
    <wsp:PolicyReference URI="#WSHttpBinding_ITechSupportServiceCross_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TechnicianLogin">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceCross/TechnicianLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelpDeskWorkerList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceCross/HelpDeskWorkerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceCross/CustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSolvedQuestion">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceCross/UploadSolvedQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportServiceCross">
    <wsdl:port name="WSHttpBinding_ITechSupportServiceCross" binding="tns:WSHttpBinding_ITechSupportServiceCross">
      <soap12:address location="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>