SolvedQuestionInit/Service References/TechSupportService/TechSupportServiceCross1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
  <xs:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportServiceCross.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
  <xs:element name="TechnicianLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="TechnicianLoginResult" nillable="true" type="q1:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelpDeskWorkerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelpDeskWorkerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="HelpDeskWorkerListResult" nillable="true" type="q2:ArrayOfWorkerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="CustomerListResult" nillable="true" type="q3:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSolvedQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TechSupportService" minOccurs="0" name="question" nillable="true" type="q4:SolvedQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSolvedQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>