SchProject/Service References/TechSupportService/TechSupportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITechSupportService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UsernameValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameValidation" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UsernameValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameValidationResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_RegisterNewStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewStaffMember" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_RegisterNewStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_LastCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_LastCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_StaffList_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_StaffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_ChangeWorkerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerStatus" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_ChangeWorkerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_SendBugreport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBugreport" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_SendBugreport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBugreportResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_ChangeWorkerPassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerPassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_ChangeWorkerPassWD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerPassWDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/Login" message="tns:ITechSupportService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/LoginResponse" message="tns:ITechSupportService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/UserLogin" message="tns:ITechSupportService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/UserLoginResponse" message="tns:ITechSupportService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/RegisterNewUser" message="tns:ITechSupportService1_RegisterNewUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/UsernameValidation" message="tns:ITechSupportService1_UsernameValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/UsernameValidationResponse" message="tns:ITechSupportService1_UsernameValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/RegisterNewStaffMember" message="tns:ITechSupportService1_RegisterNewStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/RegisterNewStaffMemberResponse" message="tns:ITechSupportService1_RegisterNewStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/LastCustomerList" message="tns:ITechSupportService1_LastCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/LastCustomerListResponse" message="tns:ITechSupportService1_LastCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/StaffList" message="tns:ITechSupportService1_StaffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/StaffListResponse" message="tns:ITechSupportService1_StaffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/ChangeWorkerStatus" message="tns:ITechSupportService1_ChangeWorkerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/ChangeWorkerStatusResponse" message="tns:ITechSupportService1_ChangeWorkerStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/SendBugreport" message="tns:ITechSupportService1_SendBugreport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/SendBugreportResponse" message="tns:ITechSupportService1_SendBugreport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/ChangeWorkerPassWD" message="tns:ITechSupportService1_ChangeWorkerPassWD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/ChangeWorkerPassWDResponse" message="tns:ITechSupportService1_ChangeWorkerPassWD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITechSupportService1" type="tns:ITechSupportService1">
    <wsp:PolicyReference URI="#WSHttpBinding_ITechSupportService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UsernameValidation">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/UsernameValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/RegisterNewStaffMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/LastCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/StaffList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/ChangeWorkerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/SendBugreport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/ChangeWorkerPassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportService1">
    <wsdl:port name="WSHttpBinding_ITechSupportService1" binding="tns:WSHttpBinding_ITechSupportService1">
      <soap12:address location="https://techsupportservice.azurewebsites.net/TechSupportService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://techsupportservice.azurewebsites.net/TechSupportService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>