SchProject/Service References/TechSupportService/TechSupportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TechSupportService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TechSupportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>