SchProject/Service References/TechSupportSecure/TechSupportServiceSecure1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportServiceSecure1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITechSupportServiceSecure1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportServiceSecure1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_UsernameValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameValidation" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_UsernameValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameValidationResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_RegisterNewStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewStaffMember" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_RegisterNewStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_LastCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_StaffList_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_StaffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerStatus" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SendBugreport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBugreport" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_SendBugreport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBugreportResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerPassWD_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerPassWD" />
  </wsdl:message>
  <wsdl:message name="ITechSupportServiceSecure1_ChangeWorkerPassWD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkerPassWDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportServiceSecure1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/Login" message="tns:ITechSupportServiceSecure1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LoginResponse" message="tns:ITechSupportServiceSecure1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/UserLogin" message="tns:ITechSupportServiceSecure1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/UserLoginResponse" message="tns:ITechSupportServiceSecure1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/UsernameValidation" message="tns:ITechSupportServiceSecure1_UsernameValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/UsernameValidationResponse" message="tns:ITechSupportServiceSecure1_UsernameValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/RegisterNewStaffMember" message="tns:ITechSupportServiceSecure1_RegisterNewStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/RegisterNewStaffMemberResponse" message="tns:ITechSupportServiceSecure1_RegisterNewStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerList" message="tns:ITechSupportServiceSecure1_LastCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerListResponse" message="tns:ITechSupportServiceSecure1_LastCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/StaffList" message="tns:ITechSupportServiceSecure1_StaffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/StaffListResponse" message="tns:ITechSupportServiceSecure1_StaffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerStatus" message="tns:ITechSupportServiceSecure1_ChangeWorkerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerStatusResponse" message="tns:ITechSupportServiceSecure1_ChangeWorkerStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SendBugreport" message="tns:ITechSupportServiceSecure1_SendBugreport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/SendBugreportResponse" message="tns:ITechSupportServiceSecure1_SendBugreport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerPassWD" message="tns:ITechSupportServiceSecure1_ChangeWorkerPassWD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerPassWDResponse" message="tns:ITechSupportServiceSecure1_ChangeWorkerPassWD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITechSupportServiceSecure1" type="tns:ITechSupportServiceSecure1">
    <wsp:PolicyReference URI="#WSHttpBinding_ITechSupportServiceSecure1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameValidation">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/UsernameValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStaffMember">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/RegisterNewStaffMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastCustomerList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/LastCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffList">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/StaffList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerStatus">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBugreport">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/SendBugreport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkerPassWD">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportServiceSecure1/ChangeWorkerPassWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportServiceSecure1">
    <wsdl:port name="WSHttpBinding_ITechSupportServiceSecure1" binding="tns:WSHttpBinding_ITechSupportServiceSecure1">
      <soap12:address location="https://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>