SchProject/Service References/TechSupportSecure/TechSupportServiceSecure4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TechSupportService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TechSupportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
  <xs:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="Role" type="q1:Role" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Security" minOccurs="0" name="UUID" nillable="true" type="q2:SecureString" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:complexType name="UsernameValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsernameValidationResult" nillable="true" type="tns:UsernameValidationResult" />
  <xs:complexType name="WorkerDataRegistrationData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WorkerData">
        <xs:sequence>
          <xs:element minOccurs="0" name="PassWD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Technician" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkerDataRegistrationData" nillable="true" type="tns:WorkerDataRegistrationData" />
  <xs:complexType name="WorkerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank" type="tns:Bank" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" minOccurs="0" name="Role" type="q3:Role" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerData" nillable="true" type="tns:WorkerData" />
  <xs:simpleType name="Bank">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MagyarNemzetiBank" />
      <xs:enumeration value="Erste" />
      <xs:enumeration value="OrszágosTakarékPénztár" />
      <xs:enumeration value="OTP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Away" />
      <xs:enumeration value="Working" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfCustomerLoginData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerLoginData" nillable="true" type="tns:CustomerLoginData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerLoginData" nillable="true" type="tns:ArrayOfCustomerLoginData" />
  <xs:complexType name="CustomerLoginData">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CustomerLoginData" nillable="true" type="tns:CustomerLoginData" />
  <xs:complexType name="ArrayOfWorkerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerData" nillable="true" type="tns:WorkerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerData" nillable="true" type="tns:ArrayOfWorkerData" />
</xs:schema>