SchProject/Service References/TechSupportSecure/TechSupportServiceSecure4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HelpDesk" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Technician" />
      <xs:enumeration value="Boss" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerData" nillable="true" type="tns:CustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerData" nillable="true" type="tns:ArrayOfCustomerData" />
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="RegTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfTechnicianData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TechnicianData" nillable="true" type="tns:TechnicianData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTechnicianData" nillable="true" type="tns:ArrayOfTechnicianData" />
  <xs:complexType name="TechnicianData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TechSupportService" base="q1:WorkerData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TechnicianID" type="xs:int" />
          <xs:element minOccurs="0" name="TechnicianStatus" type="tns:TechnicianStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TechnicianData" nillable="true" type="tns:TechnicianData" />
  <xs:simpleType name="TechnicianStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FromCustomer" />
      <xs:enumeration value="AtCustomer" />
      <xs:enumeration value="Break" />
      <xs:enumeration value="Available" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TechnicianStatus" nillable="true" type="tns:TechnicianStatus" />
  <xs:complexType name="ArrayOfTechWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TechWork" nillable="true" type="tns:TechWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTechWork" nillable="true" type="tns:ArrayOfTechWork" />
  <xs:complexType name="TechWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerData" />
      <xs:element minOccurs="0" name="Finish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Technician" nillable="true" type="tns:TechnicianData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TechWork" nillable="true" type="tns:TechWork" />
</xs:schema>