WebApp/Service References/TechSupportServiceReference/TechSupportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITechSupportService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportservice.azurewebsites.net/TechSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePicture" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetUserProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfilePicture" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetUserProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportService1">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/UserLogin" message="tns:ITechSupportService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/UserLoginResponse" message="tns:ITechSupportService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/GetProfilePicture" message="tns:ITechSupportService1_GetProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/GetProfilePictureResponse" message="tns:ITechSupportService1_GetProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/GetUserProfilePicture" message="tns:ITechSupportService1_GetUserProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/GetUserProfilePictureResponse" message="tns:ITechSupportService1_GetUserProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/RegisterNewUser" message="tns:ITechSupportService1_RegisterNewUser_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITechSupportService1" type="tns:ITechSupportService1">
    <wsp:PolicyReference URI="#WSHttpBinding_ITechSupportService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/GetProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/GetUserProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap12:operation soapAction="http://tempuri.org/ITechSupportService1/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportService1">
    <wsdl:port name="WSHttpBinding_ITechSupportService1" binding="tns:WSHttpBinding_ITechSupportService1">
      <soap12:address location="http://techsupportservice.azurewebsites.net/TechSupportService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://techsupportservice.azurewebsites.net/TechSupportService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>