WebApp/Service References/TechSupportServiceReference/TechSupportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITechSupportService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportService" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" />
      <xsd:import schemaLocation="http://techsupportserver.azurewebsites.net/TechSupportService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechSupportService1_TechnicianLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_TechnicianLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TechnicianLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_HelpDeskWorkerList_InputMessage">
    <wsdl:part name="parameters" element="tns:HelpDeskWorkerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_HelpDeskWorkerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelpDeskWorkerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_CustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerList" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_CustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetMyNewTechworks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyNewTechworks" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetMyNewTechworks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyNewTechworksResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UploadSolvedQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSolvedQuestion" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UploadSolvedQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSolvedQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePicture" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetUserProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfilePicture" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_GetUserProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="ITechSupportService1_SendMessageToSupport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToSupport" />
  </wsdl:message>
  <wsdl:portType name="ITechSupportService1">
    <wsdl:operation name="TechnicianLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/TechnicianLogin" message="tns:ITechSupportService1_TechnicianLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/TechnicianLoginResponse" message="tns:ITechSupportService1_TechnicianLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelpDeskWorkerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/HelpDeskWorkerList" message="tns:ITechSupportService1_HelpDeskWorkerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/HelpDeskWorkerListResponse" message="tns:ITechSupportService1_HelpDeskWorkerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/CustomerList" message="tns:ITechSupportService1_CustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/CustomerListResponse" message="tns:ITechSupportService1_CustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyNewTechworks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/GetMyNewTechworks" message="tns:ITechSupportService1_GetMyNewTechworks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/GetMyNewTechworksResponse" message="tns:ITechSupportService1_GetMyNewTechworks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSolvedQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/UploadSolvedQuestion" message="tns:ITechSupportService1_UploadSolvedQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/UploadSolvedQuestionResponse" message="tns:ITechSupportService1_UploadSolvedQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/UserLogin" message="tns:ITechSupportService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/UserLoginResponse" message="tns:ITechSupportService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/GetProfilePicture" message="tns:ITechSupportService1_GetProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/GetProfilePictureResponse" message="tns:ITechSupportService1_GetProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/GetUserProfilePicture" message="tns:ITechSupportService1_GetUserProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechSupportService1/GetUserProfilePictureResponse" message="tns:ITechSupportService1_GetUserProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/RegisterNewUser" message="tns:ITechSupportService1_RegisterNewUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToSupport">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechSupportService1/SendMessageToSupport" message="tns:ITechSupportService1_SendMessageToSupport_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_ITechSupportService1" type="tns:ITechSupportService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITechSupportService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TechnicianLogin">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/TechnicianLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelpDeskWorkerList">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/HelpDeskWorkerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/CustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyNewTechworks">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/GetMyNewTechworks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSolvedQuestion">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/UploadSolvedQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/GetProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfilePicture">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/GetUserProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToSupport">
      <soap:operation soapAction="http://tempuri.org/ITechSupportService1/SendMessageToSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportService1">
    <wsdl:port name="BasicHttpsBinding_ITechSupportService1" binding="tns:BasicHttpsBinding_ITechSupportService1">
      <soap:address location="https://techsupportserver.azurewebsites.net/TechSupportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>