TechSupportWPF/Service References/TechSupportService/TechSupportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TechSupportService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HelpDesk" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Technician" />
      <xs:enumeration value="Boss" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerData" nillable="true" type="tns:CustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerData" nillable="true" type="tns:ArrayOfCustomerData" />
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="RegTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfNewTechWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewTechWork" nillable="true" type="tns:NewTechWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewTechWork" nillable="true" type="tns:ArrayOfNewTechWork" />
  <xs:complexType name="NewTechWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TechID" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOrdered" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewTechWork" nillable="true" type="tns:NewTechWork" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="TechnicianStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FromCustomer" />
      <xs:enumeration value="AtCustomer" />
      <xs:enumeration value="Break" />
      <xs:enumeration value="Available" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TechnicianStatus" nillable="true" type="tns:TechnicianStatus" />
</xs:schema>